@import "tailwindcss";

:root {
  -webkit-text-size-adjust: 100%;
  --bricks-transition: all 0.2s;
  --bricks-color-primary: #ffd64f;
  --bricks-color-secondary: #fc5778;
  --bricks-text-dark: #212121;
  --bricks-text-medium: #616161;
  --bricks-text-light: #9e9e9e;
  --bricks-text-info: #00b0f4;
  --bricks-text-success: #11b76b;
  --bricks-text-warning: #ffa100;
  --bricks-text-danger: #fa4362;
  --bricks-bg-info: #e5f3ff;
  --bricks-bg-success: #e6f6ed;
  --bricks-bg-warning: #fff2d7;
  --bricks-bg-danger: #ffe6ec;
  --bricks-bg-dark: #263238;
  --bricks-bg-light: #f5f6f7;
  --bricks-border-color: #dddedf;
  --bricks-border-radius: 4px;
  --bricks-tooltip-bg: #23282d;
  --bricks-tooltip-text: #eaecef;
  --aCardShadowXSmall: 0 2px 5px -1px rgba(50, 50, 93, 0.05), 0 1px 3px -1px rgba(0, 0, 0, 0.1);
  --aCardShadowSmall: 0 6px 12px -2px rgba(50, 50, 93, 0.05), 0 3px 7px -3px rgba(0, 0, 0, 0.1);
  --aCardShadowMedium: 0 13px 27px -5px rgba(50, 50, 93, 0.05), 0 8px 16px -8px rgba(0, 0, 0, 0.1);
  --aCardShadowLarge: 0 30px 60px -12px rgba(50, 50, 93, 0.05), 0 18px 36px -18px rgba(0, 0, 0, 0.1);
  --aCardShadowXLarge: 0 50px 100px -20px rgba(50, 50, 93, 0.05),
    0 30px 60px -30px rgba(0, 0, 0, 0.1);
  --btn-width: 14rem;
  --header-height-now: var(--header-height);
  --a-scarlet-700: rgb(211, 32, 3);
  --a-scarlet-800: rgb(129, 21, 3);
  --a-primary: #6720ff;
  --a-primary--hover: #8d45f6;
  --a-primary--active: rgb(76, 22, 175);
  --a-primary-bg-light: rgba(103, 32, 255, 0.04);
  --a-primary-bg-light-2x: rgba(103, 32, 255, 0.2);
  --a-const-primary--o25: rgba(103, 32, 255, 0.25);
  --a-secondary--hover: rgba(103, 32, 255, 0.1);
  --a-secondary--active: rgba(103, 32, 255, 0.2);
  --a-secondary-border: rgb(192, 184, 203);
  --a-secondary-border--hover: rgba(203, 168, 255, 0.9);
  --a-secondary-border--active: rgba(151, 97, 226, 0.9);
  --a-secondary-color: rgb(0, 0, 0);
  --a-secondary-color--hover: rgb(120, 33, 242);
  --a-secondary-color--active: rgb(40, 14, 132);
  --a-link--hover: rgb(141, 69, 246);
  --a-white: #ffffff;
  --a-const-white: #ffffff;
  --a-white-ghost: rgb(250, 249, 252);
  --a-black: rgb(17, 17, 17);
  --a-const-black: rgb(17, 17, 17);
  --a-black-light-x1: #111111;
  --a-const-black-light-x1: rgb(17, 17, 17);
  --a-black-light-x2: rgb(34, 34, 34);
  --a-const-black-light-x2: rgb(34, 34, 34);
  --a-black-light-x3: rgb(51, 51, 51);
  --a-const-black-light-x3: rgb(51, 51, 51);
  --a-gray-50: rgb(252, 252, 252);
  --a-const-gray-50: rgb(252, 252, 252);
  --a-gray-100: rgb(248, 248, 248);
  --a-const-gray-100: rgb(248, 248, 248);
  --a-gray-150: rgb(242, 242, 242);
  --a-const-gray-150: rgb(242, 242, 242);
  --a-gray-200: #e6e6e6;
  --a-const-gray-200: #e6e6e6;
  --a-gray-250: rgb(217, 217, 217);
  --a-const-gray-250: #d9d9d9;
  --a-gray-300: rgb(204, 204, 204);
  --a-const-gray-300: rgb(204, 204, 204);
  --a-gray-400: rgb(179, 179, 179);
  --a-const-gray-400: rgb(179, 179, 179);
  --a-gray-500: rgb(153, 153, 153);
  --a-const-gray-500: rgb(153, 153, 153);
  --a-gray-600: #808080;
  --a-const-gray-600: #808080;
  --a-gray-700: rgb(102, 102, 102);
  --a-const-gray-700: rgb(102, 102, 102);
  --a-gray-800: rgb(77, 77, 77);
  --a-const-gray-800: rgb(77, 77, 77);
  --a-gray-900: rgb(51, 51, 51);
  --a-const-gray-900: rgb(51, 51, 51);
  --a-gray-1000: rgb(25, 25, 25);
  --a-const-gray-1000: rgb(25, 25, 25);
  --a-gray-1100: rgb(13, 13, 13);
  --a-const-gray-1100: rgb(13, 13, 13);
  --a-green-100: rgb(232, 245, 242);
  --a-const-green-100: rgb(232, 245, 242);
  --a-green-200: rgb(207, 235, 227);
  --a-const-green-200: rgb(207, 235, 227);
  --a-green-300: rgb(158, 216, 199);
  --a-const-green-300: rgb(158, 216, 199);
  --a-yellow-800: rgb(174, 128, 9);
  --a-const-yellow-800: rgb(174, 128, 9);
  --a-yellow-600: rgb(245, 194, 66);
  --a-const-yellow-600: rgb(245, 194, 66);
  --a-green-600: rgb(59, 145, 121);
  --a-const-green-600: rgb(59, 145, 121);
  --a-green-700: rgb(39, 97, 80);
  --a-const-green-700: rgb(39, 97, 80);
  --a-green-800: rgb(30, 72, 60);
  --a-const-green-800: rgb(30, 72, 60);
  --a-green-900: rgb(20, 48, 40);
  --a-const-green-900: rgb(20, 48, 40);
  --a-blue-200: rgb(207, 225, 252);
  --a-const-blue-200: rgb(207, 225, 252);
  --a-blue-400: rgb(112, 165, 245);
  --a-const-blue-400: rgb(112, 165, 245);
  --a-blue-600: rgb(17, 105, 238);
  --a-const-blue-600: rgb(17, 105, 238);
  --a-blue-1000: rgb(0, 10, 51);
  --a-const-blue-1000: rgb(0, 10, 51);
  --a-aqua-100: rgb(216, 238, 243);
  --a-const-aqua-100: rgb(216, 238, 243);
  --a-aqua-200: rgb(197, 226, 231);
  --a-const-aqua-200: rgb(197, 226, 231);
  --a-aqua-600: rgb(74, 163, 181);
  --a-const-aqua-600: rgb(74, 163, 181);
  --a-aqua-700: rgb(46, 139, 158);
  --a-const-aqua-700: rgb(46, 139, 158);
  --a-violet-100: rgb(239, 234, 252);
  --a-const-violet-100: rgb(239, 234, 252);
  --a-violet-200: rgb(227, 216, 249);
  --a-const-violet-200: rgb(227, 216, 249);
  --a-violet-300: rgb(192, 175, 253);
  --a-const-violet-300: rgb(192, 175, 253);
  --a-violet-400: rgb(161, 118, 255);
  --a-const-violet-400: rgb(161, 118, 255);
  --a-violet-500: rgb(129, 72, 255);
  --a-const-violet-500: rgb(129, 72, 255);
  --a-violet-600: rgb(110, 58, 223);
  --a-const-violet-600: rgb(110, 58, 223);
  --a-violet-700: rgb(83, 32, 194);
  --a-const-violet-700: rgb(83, 32, 194);
  --a-violet-800: rgba(59, 16, 153, 1);
  --a-const-violet-800: rgba(59, 16, 153, 1);
  --a-violet-900: rgb(41, 16, 96);
  --a-const-violet-900: rgb(41, 16, 96);
  --a-purple-100: #fce8f1;
  --a-const-purple-100: rgb(252, 232, 241);
  --a-purple-500: rgb(229, 76, 145);
  --a-const-purple-500: rgb(229, 76, 145);
  --a-purple-600: rgb(223, 32, 118);
  --a-const-purple-600: rgb(223, 32, 118);
  --a-scarlet-100: rgb(254, 238, 236);
  --a-const-scarlet-100: rgb(254, 238, 236);
  --a-scarlet-200: rgb(255, 206, 199);
  --a-const-scarlet-200: rgb(255, 206, 199);
  --a-scarlet-300: rgb(255, 167, 153);
  --a-const-scarlet-300: rgb(255, 167, 153);
  --a-scarlet-600: rgb(255, 36, 0);
  --a-const-scarlet-600: rgb(255, 36, 0);
  --a-const-scarlet-700: rgb(184, 28, 2);
  --a-const-scarlet-800: rgb(129, 21, 3);
  --a-scarlet-900: rgb(102, 14, 0);
  --a-const-scarlet-900: rgb(102, 14, 0);
  --a-scarlet-1000: rgb(51, 7, 0);
  --a-const-scarlet-1000: rgb(51, 7, 0);
  --a-secondary: rgba(255, 255, 255, 0);
  --a-link: rgb(103, 32, 255);
  --a-link--active: rgb(76, 22, 175);
  --a-bg-header: rgb(255, 255, 255);
  --a-bg-header-shadow: rgba(73, 73, 73, 0.2);
  --a-bg-submenu-inset-shadow: rgba(120, 120, 120, 0.2);
  --a-bg-header-menu-shadow: rgba(175, 175, 175, 0.3);
  --a-bg-website: #ffffff;
  --a-bg-cold: rgb(250, 249, 252);
  --a-const-bg-cold: rgb(250, 249, 252);
  --a-bg-warm: rgb(248, 244, 242);
  --a-const-bg-warm: rgb(248, 244, 242);
  --a-const-primary: #6720ff;
  --a-const-primary--hover: #8d45f6;
  --a-const-primary--active: #4a18b6;
  --a-orange-100: rgb(255, 240, 230);
  --a-const-orange-100: rgb(255, 240, 230);
  --a-orange-600: rgb(255, 102, 0);
  --a-const-orange-600: rgb(255, 102, 0);
  --text-xxl-lh: 1.45;
  --text-xl-lh: 1.45;
  --text-l-lh: 1.45;
  --text-m-lh: 1.45;
  --text-s-lh: 1.45;
  --text-xs-lh: 1.45;
  --h1-lh: 1.3;
  --h2-lh: 1.3;
  --h3-lh: 1.25;
  --h4-lh: 1.2;
  --h5-lh: 1.2;
  --h6-lh: 1.2;
  --width-xs: calc((144 * 0.1) * 1rem);
  --width-s: calc((144 * 0.2) * 1rem);
  --width-m: calc((144 * 0.4) * 1rem);
  --width-l: calc((144 * 0.6) * 1rem);
  --width-xl: calc((144 * 0.8) * 1rem);
  --width-xxl: calc((144 * 0.9) * 1rem);
  --width-vp-max: 144rem;
  --width-content: 144rem;
  --width-50: calc((144 / 2) * 1rem);
  --width-full: 100%;
  --content-width: var(--width-content);
  --content-width-safe: min(var(--width-content), calc(100% - var(--section-padding-x) * 2));
  --radius-xs: 0.4rem;
  --radius-s: 0.8rem;
  --radius-m: 1.1rem;
  --radius-l: 1.5rem;
  --radius-xl: 2.2rem;
  --radius-xxl: 3.3rem;
  --radius-50: 50%;
  --radius-circle: 50%;
  --grid-1: repeat(1, minmax(0, 1fr));
  --grid-2: repeat(2, minmax(0, 1fr));
  --grid-3: repeat(3, minmax(0, 1fr));
  --grid-4: repeat(4, minmax(0, 1fr));
  --grid-5: repeat(5, minmax(0, 1fr));
  --grid-6: repeat(6, minmax(0, 1fr));
  --grid-7: repeat(7, minmax(0, 1fr));
  --grid-8: repeat(8, minmax(0, 1fr));
  --grid-9: repeat(9, minmax(0, 1fr));
  --grid-10: repeat(10, minmax(0, 1fr));
  --grid-11: repeat(11, minmax(0, 1fr));
  --grid-12: repeat(12, minmax(0, 1fr));
  --grid-1-2: minmax(0, 1fr) minmax(0, 2fr);
  --grid-1-3: minmax(0, 1fr) minmax(0, 3fr);
  --grid-2-1: minmax(0, 2fr) minmax(0, 1fr);
  --grid-2-3: minmax(0, 2fr) minmax(0, 3fr);
  --grid-3-1: minmax(0, 3fr) minmax(0, 1fr);
  --grid-3-2: minmax(0, 3fr) minmax(0, 2fr);
  --grid-auto-2: repeat(auto-fit, minmax(min(46.1538461538rem, 100vw - 6rem), 1fr));
  --grid-auto-3: repeat(auto-fit, minmax(min(34.5864661654rem, 100vw - 6rem), 1fr));
  --grid-auto-4: repeat(auto-fit, minmax(min(27.6553106212rem, 100vw - 6rem), 1fr));
  --grid-auto-5: repeat(auto-fit, minmax(min(23.0383973289rem, 100vw - 6rem), 1fr));
  --grid-auto-6: repeat(auto-fit, minmax(min(19.7424892704rem, 100vw - 6rem), 1fr));
  --content-gap: var(--space-m);
  --container-gap: var(--space-xl);
  --grid-gap: var(--space-m);
  --section-gutter: 2.4rem;
  --paragraph-spacing: 1em;
  --heading-spacing: 1.5em;
  --list-spacing: 1em;
  --list-item-spacing: 0.5em;
  --link-underline-offset: 0;
  --focus-color: var(--a-primary--hover);
  --focus-width: 0.2rem;
  --focus-offset: 0.2rem;
  --btn-padding-block: 0.8rem;
  --btn-padding-inline: 1.3rem;
  --btn-min-width: 15rem;
  --btn-line-height: 1.2;
  --btn-font-weight: 400;
  --btn-font-style: normal;
  --btn-text-decoration: none;
  --btn-text-decoration-hover: none;
  --btn-letter-spacing: 0;
  --btn-text-transform: none;
  --btn-border-width: 0.25rem;
  --btn-outline-border-width: 0.25rem;
  --btn-border-style: solid;
  --btn-border-radius: 0;
  --btn-transition-duration: 0.2s;
  --admin-bar-height: var(--wp-admin--admin-bar--height, 0px);
  --header-height: 7.2rem;
  --scroll-offset: -3px;
  --smt: calc(var(--header-height, 7.2rem) + var(--scroll-offset, 0px));
  --h1: 4.8rem;
  --h2: 3.6rem;
  --h3: 2.6rem;
  --h4: 2rem;
  --h5: 1.6rem;
  --h6: 1.2rem;
  --space-xs: 1.3rem;
  --space-s: 2rem;
  --space-m: 3rem;
  --space-l: 4.5rem;
  --space-xl: 6.7rem;
  --space-xxl: 10rem;
  --section-space-xs: 5.3rem;
  --section-space-s: 8rem;
  --section-space-m: 12rem;
  --section-space-l: 18rem;
  --section-space-xl: 27rem;
  --section-space-xxl: 40rem;
  --section-padding-x: 3rem;
  --a-a0: rgba(0, 0, 0, 0);
  --text-xs: 1rem;
  --text-s: 1.2rem;
  --text-m: 1.6rem;
  --text-l: 2rem;
  --text-xl: 2.8rem;
  --text-xxl: 3.2rem;
  --a-container-width--desktop: 1100px;
  --a-speed: 0.15s ease-in-out;
  --a-anim-click: transform 0.05s ease-in-out, background-color var(--a-speed), color var(--a-speed),
    border-color var(--a-speed), box-shadow var(--a-speed), padding var(--a-speed),
    margin var(--a-speed), height var(--a-speed), width var(--a-speed), opacity var(--a-speed),
    letter-spacing var(--a-speed);
  --a-header-menu-align: start;
  --a-header-menu-margin-left: var(--space-s);
  --a-header-menu-margin-right: 0;
  --a-header-text-font-size: calc(var(--text-m) - 1px);
  --a-header-text-font-weight: 600;
  --a-header-text-letter-spacing: 0.2px;
  --a-header-container-width-limit: 1100px;
  --a-header-logo-height: 34px;
  --a-header-logo-width: 100px;
  --a-header-item-blog: flex;
  --a-header-btn-login-default: flex;
  --a-header-btn-login-secondary: none;
  --a-header-btn-signup-secondary: flex;
  --a-header-btn-demo-primary: flex;
  --root-font-size: 62.5%;
  --a-header-items-padding: 1rem;
  --bricks-vh: 10.4px;
  --a-anim: all 0.15s ease-in-out;
  --thb-visible-area: 0px;
}

body {
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  font-weight: 400;
  font-style: normal;
  font-size: var(--text-m);
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  line-height: 1.6;
  color: var(--a-black);
  border-color: var(--bricks-border-color);
  box-sizing: border-box;
  display: block;
  scroll-margin-top: var(--smt);
  flex: 1;
  position: relative;
  width: 100%;
  background-color: #f7f4f2;
}
